/*
*/

* { margin: 0; padding: 0; }

textarea.wide-edit {
    margin: 4px;
    width: 800px;
    max-width: 800px;
}

input.big-input, label.big-input {
    font-size: 32pt;
}

.notice, .success, .error {
    font: normal 12pt Georgia;
}
