.span-24.last
  %form{:action => "/register", :method => "POST"}
    %label{:for => "email", :class => "big-input"} Email:
    %input{:type => "text", :id => "email", :name => "email", :class => "big-input"}
    %input{:type => "submit", :value => "Ok", :class => "big-input"}
